// Detect lightness
@function detectLightness($color) {
  @if (lightness($color) > 60) {
    @return mix($color, #000, 90%);
  } @else {
    @return mix($color, #fff, 90%);
  }
}

// Spacing
@function spacing($type) {
  @if $type == 'compact' {
    @return 12px;
  }
  @if $type == 'spacious' {
    @return 22px;
  } @else {
    @return 16px;
  }
}

// Description
@function desc($display) {
  @if $display == false {
    @return none;
  } @else {
    @return block;
  }
}

// Layout type
@mixin layout-width($type) {
  @if $type == 'small' {
    max-width: 500px;
    min-width: 400px;
  }
  @if $type == 'normal' {
    max-width: 600px;
    min-width: 500px;
  }
  @if $type == 'large' {
    max-width: 800px;
    min-width: 600px;
  }
  @if $type == 'full' {
    width: 100%;
  }
}

// Alignment type
@mixin alignment-type($type) {
  @if $type == 'left' {
    left: 0 !important;
    right: inherit !important;
  }
  @if $type == 'right' {
    right: 0 !important;
    left: inherit !important;
  }
  @if $type == 'center' {
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
  }
}

// Mixin - Shadow type
@mixin shadow-type($type) {
  @if $type == 'light' {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  }
  @if $type == 'heavy' {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

// Mixin - highlight
@function set-highlight($highlight, $color) {
  @if $highlight == 1 and lightness($color) < 60 {
    @return mix(#fff, $color, 90%);
  } @else {
    @return darken(detectLightness($color), 30%);
  }
}

@mixin dropdown(
  $main-color: #458ee1,
  $layout-width: normal,
  $layout-type: normal,
  $layout-alignment: 'align',
  $background-color: #ffffff,
  $border-radius: 4,
  $border-width: 1,
  $border-color: #d9d9d9,
  $box-shadow: light,
  $branding-position: bottom,
  $font-size: normal,
  $header-color: #33363d,
  $title-color: #02060c,
  $subtitle-color: #a4a7ae,
  $text-color: #63676d,
  $highlight-color: #3881ff,
  $spacing: normal,
  $include-desc: true,
  $background-category-header: #ffffff,
  $highlight-opacity: 0.1,
  $highlight-type: 'underline',
  $code-background: #ebebeb,
  $responsive-breakpoint: 768px
) {
  $header-size: 1em;
  $title-size: 0.9em;
  $text-size: 0.85em;
  $subtitle-size: 0.9em;
  $padding: spacing($spacing);

  @if $font-size == 'small' {
    $header-size: 0.95em;
    $title-size: 0.8em;
    $text-size: 0.75em;
    $subtitle-size: 0.8em;
  } @else if $font-size == 'large' {
    $header-size: 1.1em;
    $title-size: 1em;
    $text-size: 0.9em;
    $subtitle-size: 1em;
  }

  .algolia-autocomplete {
    &.algolia-autocomplete-right .ds-dropdown-menu {
      @include alignment-type(right);
      &:before {
        right: 48px;
      }
    }
    &.algolia-autocomplete-left .ds-dropdown-menu {
      @include alignment-type(left);
      &:before {
        left: 48px;
      }
    }

    // Dropdown wrapper
    .ds-dropdown-menu {
      position: relative;
      top: -6px;
      border-radius: $border-radius + px;
      margin: 6px 0 0;
      padding: 0;
      text-align: left;
      height: auto;
      background: transparent;
      border: none;
      z-index: 999;
      @include layout-width($layout-width);
      @include shadow-type($box-shadow);

      // Arrow
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 14px;
        height: 14px;
        background: $background-color;
        z-index: 1000;
        top: -7px;
        border-top: $border-width + px solid $border-color;
        border-right: $border-width + px solid $border-color;
        transform: rotate(-45deg);
        border-radius: 2px;
      }

      .ds-suggestions {
        position: relative;
        z-index: 1000;
        margin-top: $padding/2;
        & a:hover {
          text-decoration: none;
        }
      }

      .ds-suggestion {
        cursor: pointer;

        &.ds-cursor {
          .algolia-docsearch-suggestion.suggestion-layout-simple {
            background-color: rgba($main-color, 0.05);
          }

          .algolia-docsearch-suggestion:not(.suggestion-layout-simple) {
            .algolia-docsearch-suggestion--content {
              background-color: rgba($main-color, 0.05);
            }
          }
        }
      }

      [class^='ds-dataset-'] {
        position: relative;
        border: solid $border-width + px $border-color;
        background: $background-color;
        border-radius: $border-radius + px;
        overflow: auto;
        padding: 0 $padding/2 $padding/2;
      }

      // Inner-grid setup
      * {
        box-sizing: border-box;
      }
    }

    // Each suggestion item is wrapped
    .algolia-docsearch-suggestion {
      display: block;
      position: relative;
      padding: 0 $padding/2;
      background: $background-color;
      color: $title-color;
      overflow: hidden;

      @if $highlight-type == basic {
        &--highlight {
          color: $main-color;
          background-color: rgba($main-color, $highlight-opacity);
        }
      } @else {
        &--highlight {
          color: set-highlight($highlight-opacity, $main-color);
          background: rgba(mix($main-color, #fff, 60%), $highlight-opacity);
          padding: 0.1em 0.05em;
        }

        &--category-header
          .algolia-docsearch-suggestion--category-header-lvl0
          .algolia-docsearch-suggestion--highlight,
        &--category-header
          .algolia-docsearch-suggestion--category-header-lvl1
          .algolia-docsearch-suggestion--highlight {
          padding: 0 0 1px;
          background: inherit;
          box-shadow: inset 0 -2px 0 0 rgba($main-color, 0.8);
          color: inherit;
        }

        &--text .algolia-docsearch-suggestion--highlight {
          padding: 0 0 1px;
          background: inherit;
          box-shadow: inset 0 -2px 0 0 rgba($main-color, 0.8);
          color: inherit;
        }
      }

      &--content {
        display: block;
        float: right;
        width: 70%;
        position: relative;
        padding: $padding/3 0 $padding/3 $padding/1.5;
        cursor: pointer;

        &:before {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          height: 100%;
          width: 1px;
          background: #ddd;
          left: -1px;
        }
      }

      &--category-header {
        position: relative;
        border-bottom: 1px solid #ddd;
        display: none;
        margin-top: $padding/2;
        padding: $padding/4 0;
        font-size: $header-size;
        color: $header-color;
      }

      &--wrapper {
        width: 100%;
        float: left;
        padding: $padding/2 0 0 0;
      }

      &--subcategory-column {
        float: left;
        width: 30%;
        padding-left: 0;
        text-align: right;
        position: relative;
        padding: $padding/3 $padding/1.5;
        color: $subtitle-color;
        font-size: $subtitle-size;
        word-wrap: break-word;

        &:before {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          height: 100%;
          width: 1px;
          background: #ddd;
          right: 0;
        }
      }

      &--subcategory-inline {
        display: none;
      }

      &--title {
        margin-bottom: $padding/4;
        color: $title-color;
        font-size: $title-size;
        font-weight: bold;
      }

      &--text {
        display: desc($include-desc);
        line-height: 1.2em;
        font-size: $text-size;
        color: $text-color;
      }

      &--no-results {
        width: 100%;
        padding: $padding/2 0;
        text-align: center;
        font-size: 1.2em;

        &::before {
          display: none;
        }
      }

      code {
        padding: 1px 5px;
        font-size: 90%;
        border: none;
        color: #222222;
        background-color: $code-background;
        border-radius: 3px;
        font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
        .algolia-docsearch-suggestion--highlight {
          background: none;
        }
      }

      // Rules to display categories and subcategories
      &.algolia-docsearch-suggestion__main
        .algolia-docsearch-suggestion--category-header {
        display: block;
      }

      &.algolia-docsearch-suggestion__secondary {
        display: block;
      }

      @media all and (min-width: #{$responsive-breakpoint}) {
        .algolia-docsearch-suggestion--subcategory-column {
          display: block;
        }
      }
      @media all and (max-width: #{$responsive-breakpoint}) {
        .algolia-docsearch-suggestion--subcategory-column {
          display: inline-block;
          width: auto;
          text-align: left;
          float: left;
          padding: 0;

          color: #02060c;
          font-size: 0.9em;
          font-weight: bold;
          opacity: 0.5;

          &:before {
            display: none;
          }
          &:after {
            content: '|';
          }
        }
        .algolia-docsearch-suggestion--content {
          display: inline-block;
          width: auto;
          text-align: left;
          float: left;
          padding: 0;

          &:before {
            display: none;
          }
        }
      }
    }

    //Simple layout (no column)
    .suggestion-layout-simple {
      &.algolia-docsearch-suggestion {
        border-bottom: solid 1px #eee;
        padding: $padding/2;
        margin: 0;
      }

      .algolia-docsearch-suggestion {
        &--content {
          width: 100%;
          padding: 0;

          &::before {
            display: none;
          }
        }

        &--category-header {
          margin: 0;
          padding: 0;
          display: block;
          width: 100%;
          border: none;

          &-lvl0 {
            opacity: 0.6;
            font-size: $text-size;
          }

          &-lvl1 {
            opacity: 0.6;
            font-size: $text-size;

            &::before {
              background-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 20 38" xmlns="http://www.w3.org/2000/svg"><path d="M1.49 4.31l14 16.126.002-2.624-14 16.074-1.314 1.51 3.017 2.626 1.313-1.508 14-16.075 1.142-1.313-1.14-1.313-14-16.125L3.2.18.18 2.8l1.31 1.51z" fill-rule="evenodd" fill="%231D3657" /></svg>');
              content: '';
              width: 10px;
              height: 10px;
              display: inline-block;
            }
          }
        }

        &--wrapper {
          width: 100%;
          float: left;
          margin: 0;
          padding: 0;
        }

        &--duplicate-content,
        &--subcategory-inline {
          display: none !important;
        }

        &--title {
          margin: 0;
          color: $main-color;
          font-size: $title-size;
          font-weight: normal;

          &::before {
            content: '#';
            font-weight: bold;
            color: $main-color;
            display: inline-block;
          }
        }

        &--text {
          margin: $padding/4 0 0;
          display: desc($include-desc);
          line-height: 1.4em;
          padding: $padding/3 $padding/2;
          background: #f8f8f8;
          font-size: $text-size;
          opacity: 0.8;

          .algolia-docsearch-suggestion--highlight {
            color: darken($text-color, 15%);
            font-weight: bold;
            box-shadow: none;
          }
        }
      }
    }

  // powered by
    .algolia-docsearch-footer {
      width: 134px;
      height: 20px;
      z-index: 2000;
      margin-top: $padding/1.5;
      float: right;
      font-size: 0;
      line-height: 0;

      &--logo {
        background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%22none%22%20height%3D%2218%22%20viewBox%3D%220%200%20122%2018%22%20width%3D%22122%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m0%200h122v18h-122z%22%20fill%3D%22%23fff%22%2F%3E%3Cg%20fill%3D%22%230300b0%22%3E%3Cpath%20d%3D%22m46.8236%205.166c.0353.18.053.354.053.522%200%20.156-.0177.324-.053.504l-2.244-.018v6.048c0%20.504.2297.756.6891.756h1.3428c.0825.204.1237.408.1237.612s-.0118.33-.0353.378c-.5419.072-1.1014.108-1.6785.108-1.1426%200-1.7139-.498-1.7139-1.494v-6.408l-1.2545.018c-.0353-.18-.053-.348-.053-.504%200-.168.0177-.342.053-.522l1.2545.018v-1.89c0-.324.0471-.552.1413-.684.0943-.144.2768-.216.5478-.216h.477l.106.108v2.7z%22%2F%3E%3Cpath%20d%3D%22m55.3733%205.256-2.4206%208.442c-.4476%201.548-.9247%202.64-1.4312%203.276s-1.2663.954-2.2793.954c-.5182%200-.9953-.078-1.4311-.234-.0354-.336.0589-.66.2827-.972.3651.132.7538.198%201.1661.198.6243%200%201.1014-.216%201.4312-.648s.6302-1.104.9011-2.016l.053-.18c-.3063-.024-.5419-.096-.7068-.216-.1531-.12-.2827-.342-.3887-.666l-2.4736-7.92c.3652-.156.6243-.234.7774-.234.3416%200%20.5713.21.6891.63l1.3958%204.518c.0472.144.3181%201.08.8128%202.808.0236.084.0825.126.1767.126l2.1556-7.956c.1531-.048.3533-.072.6007-.072.2591%200%20.4771.036.6537.108z%22%2F%3E%3Cpath%20d%3D%22m58.7683%2013.41v3.564c0%20.324-.0471.552-.1414.684-.0942.144-.2827.216-.5654.216h-.477l-.106-.108v-12.546l.106-.108h.4594c.2827%200%20.4711.078.5654.234.106.144.159.384.159.72v.09c.7067-.804%201.549-1.206%202.5266-1.206%201.0013%200%201.7551.414%202.2616%201.242.5065.816.7598%201.95.7598%203.402%200%20.708-.0943%201.344-.2827%201.908-.1767.564-.4182%201.044-.7244%201.44-.2945.384-.6361.684-1.0248.9-.3887.204-.7892.306-1.2015.306-.8128%200-1.5843-.246-2.3146-.738zm0-5.85v4.626c.7185.54%201.3958.81%202.0319.81s1.1602-.288%201.5725-.864.6184-1.446.6184-2.61c0-.576-.053-1.074-.159-1.494-.0942-.432-.2238-.786-.3887-1.062-.1649-.288-.3593-.498-.5831-.63-.212-.144-.4417-.216-.6891-.216-.4711%200-.9187.126-1.3428.378-.424.252-.7774.606-1.0601%201.062z%22%2F%3E%3Cpath%20d%3D%22m73.2631%209.99h-5.4773c.0589%202.04.8187%203.06%202.2793%203.06.801%200%201.655-.252%202.562-.756.2591.24.4181.546.477.918-.9659.672-2.0496%201.008-3.251%201.008-.6125%200-1.1367-.114-1.5725-.342-.4359-.24-.7951-.564-1.0778-.972-.271-.42-.4712-.912-.6008-1.476-.1295-.564-.1943-1.182-.1943-1.854%200-.684.0765-1.308.2297-1.872.1649-.564.4005-1.05.7067-1.458.3063-.408.6714-.726%201.0955-.954.4358-.228.9305-.342%201.4841-.342.5419%200%201.0248.102%201.4489.306.4358.192.7951.462%201.0778.81.2944.336.5183.744.6714%201.224.1531.468.2297.972.2297%201.512%200%20.216-.0118.426-.0354.63-.0117.192-.0294.378-.053.558zm-5.4773-1.026h4.2405v-.234c0-.828-.1708-1.494-.5124-1.998s-.854-.756-1.5372-.756c-.6714%200-1.1955.27-1.5725.81-.3651.54-.5713%201.266-.6184%202.178z%22%2F%3E%3Cpath%20d%3D%22m75.0818%2013.374c.0117-.264.0824-.552.212-.864.1413-.324.3004-.576.477-.756.9306.516%201.7492.774%202.456.774.3887%200%20.7009-.078.9364-.234.2474-.156.3711-.366.3711-.63%200-.42-.3181-.756-.9541-1.008l-.9895-.378c-1.4841-.552-2.2262-1.434-2.2262-2.646%200-.432.0765-.816.2297-1.152.1649-.348.3887-.642.6714-.882.2945-.252.6419-.444%201.0424-.576s.8481-.198%201.3428-.198c.2238%200%20.4712.018.7421.054.2827.036.5654.09.8481.162.2827.06.5537.132.8128.216s.4829.174.6714.27c0%20.3-.0589.612-.1767.936s-.2768.564-.477.72c-.9306-.42-1.7375-.63-2.4207-.63-.3062%200-.5477.078-.7244.234-.1767.144-.265.336-.265.576%200%20.372.2945.666.8834.882l1.0778.396c.7774.276%201.3546.654%201.7316%201.134.3769.48.5654%201.038.5654%201.674%200%20.852-.3122%201.536-.9365%202.052-.6243.504-1.5195.756-2.6856.756-1.1426%200-2.2145-.294-3.2157-.882z%22%2F%3E%3Cpath%20d%3D%22m90.5671%2010.296h-4.8765c.0353.66.1826%201.182.4417%201.566.2709.372.7362.558%201.3958.558.6832%200%201.4665-.204%202.35-.612.3416.36.5595.834.6537%201.422-.9423.684-2.0731%201.026-3.3924%201.026-1.2486%200-2.1968-.39-2.8446-1.17-.6361-.792-.9542-1.962-.9542-3.51%200-.72.0825-1.368.2474-1.944.1649-.588.4064-1.086.7244-1.494.3181-.42.7068-.744%201.1662-.972.4593-.228.9835-.342%201.5725-.342.6007%200%201.1308.096%201.5902.288.4593.18.8481.444%201.1661.792.318.336.5536.738.7067%201.206.1649.468.2474.978.2474%201.53%200%20.3-.0177.588-.053.864-.0353.264-.0825.528-.1414.792zm-3.41-3.78c-.9188%200-1.4135.708-1.4842%202.124h2.933v-.216c0-.576-.1178-1.038-.3534-1.386-.2355-.348-.6007-.522-1.0954-.522z%22%2F%3E%3Cpath%20d%3D%22m100.25%207.992v3.924c0%20.768.124%201.338.371%201.71-.376.336-.83.504-1.36.504-.5065%200-.854-.114-1.0425-.342-.1884-.24-.2827-.612-.2827-1.116v-4.194c0-.54-.0648-.918-.1943-1.134-.1296-.216-.3711-.324-.7244-.324-.6243%200-1.2074.288-1.7492.864v6.12c-.1767.036-.3652.06-.5654.072-.1885.012-.3829.018-.5831.018-.2003%200-.4005-.006-.6007-.018-.1885-.012-.3711-.036-.5478-.072v-8.91l.106-.126h.8835c.6596%200%201.0719.36%201.2368%201.08.8599-.756%201.7138-1.134%202.5619-1.134s1.4724.282%201.8729.846c.412.552.618%201.296.618%202.232z%22%2F%3E%3Cpath%20d%3D%22m102.104%2013.374c.012-.264.082-.552.212-.864.141-.324.3-.576.477-.756.93.516%201.749.774%202.456.774.389%200%20.701-.078.936-.234.248-.156.371-.366.371-.63%200-.42-.318-.756-.954-1.008l-.989-.378c-1.484-.552-2.226-1.434-2.226-2.646%200-.432.076-.816.229-1.152.165-.348.389-.642.672-.882.294-.252.642-.444%201.042-.576.401-.132.848-.198%201.343-.198.224%200%20.471.018.742.054.283.036.565.09.848.162.283.06.554.132.813.216s.483.174.671.27c0%20.3-.059.612-.176.936-.118.324-.277.564-.477.72-.931-.42-1.738-.63-2.421-.63-.306%200-.548.078-.724.234-.177.144-.266.336-.266.576%200%20.372.295.666.884.882l1.078.396c.777.276%201.354.654%201.731%201.134s.566%201.038.566%201.674c0%20.852-.313%201.536-.937%202.052-.624.504-1.519.756-2.685.756-1.143%200-2.215-.294-3.216-.882z%22%2F%3E%3Cpath%20d%3D%22m117.589%2010.296h-4.876c.035.66.182%201.182.441%201.566.271.372.737.558%201.396.558.683%200%201.467-.204%202.35-.612.342.36.56.834.654%201.422-.942.684-2.073%201.026-3.392%201.026-1.249%200-2.197-.39-2.845-1.17-.636-.792-.954-1.962-.954-3.51%200-.72.082-1.368.247-1.944.165-.588.406-1.086.725-1.494.318-.42.706-.744%201.166-.972.459-.228.983-.342%201.572-.342.601%200%201.131.096%201.59.288.46.18.848.444%201.166.792.319.336.554.738.707%201.206.165.468.248.978.248%201.53%200%20.3-.018.588-.053.864-.036.264-.083.528-.142.792zm-3.41-3.78c-.919%200-1.413.708-1.484%202.124h2.933v-.216c0-.576-.118-1.038-.353-1.386-.236-.348-.601-.522-1.096-.522z%22%2F%3E%3Cpath%20d%3D%22m120.329%2016.524v-16.4699996c.176-.0360003.377-.0540004.6-.0540004.236%200%20.454.0180001.654.0540004v16.4699996c-.2.036-.418.054-.654.054-.223%200-.424-.018-.6-.054z%22%2F%3E%3C%2Fg%3E%3Cpath%20d%3D%22m.342%2011.748c.162.114.384.204.666.27s.525.099.729.099c.564%200%20.996-.111%201.296-.333.306-.222.459-.534.459-.936%200-.564-.489-1.026-1.467-1.386-.324-.108-.573-.219-.747-.333s-.264-.249-.27-.405c0-.186.084-.336.252-.45.174-.12.396-.18.666-.18.222%200%20.42.027.594.081s.36.126.558.216l.225-.486c-.156-.114-.372-.207-.648-.279-.27-.072-.507-.108-.711-.108-.504%200-.903.111-1.197.333-.288.216-.432.516-.432.9%200%20.318.132.579.396.783s.606.375%201.026.513c.72.24%201.08.522%201.08.846%200%20.204-.096.363-.288.477s-.453.171-.783.171c-.378%200-.771-.102-1.179-.306zm7.6313-1.818c0-.72-.153-1.302-.459-1.746-.3-.444-.768-.666-1.404-.666-.42%200-.786.099-1.098.297-.306.192-.54.462-.702.81-.156.342-.234.735-.234%201.179%200%20.702.195%201.263.585%201.683s.957.63%201.701.63c.3%200%20.573-.039.819-.117.246-.084.492-.195.738-.333l-.225-.522c-.27.132-.504.228-.702.288-.192.06-.405.09-.639.09-.516%200-.9-.141-1.152-.423-.246-.288-.378-.678-.396-1.17zm-3.15-.486c.042-.408.168-.729.378-.963.216-.24.51-.36.882-.36.69%200%201.086.441%201.188%201.323zm4.38321-1.008c.216-.096.414-.168.594-.216.186-.054.40799-.081.66599-.081.33%200%20.57.093.72.279.156.186.234.441.234.765v.243h-1.125c-.47399%200-.85499.117-1.14299.351s-.432.561-.432.981c0%20.402.126.729.378.981.258.252.63.378%201.11599.378.228%200%20.462-.054.702-.162.24-.114.441-.246.603-.396l.09.441h.531v-3.015c0-.282-.072-.534-.216-.756s-.345-.396-.603-.522-.552-.189-.882-.189c-.198%200-.44999.036-.75599.108-.3.072-.528.162-.684.27zm.171%202.322c0-.24.078-.441.234-.603.162-.168.384-.252.66599-.252h1.152v.99c-.162.192-.351.348-.567.468-.21.12-.432.18-.666.18-.26999%200-.47399-.078-.61199-.234s-.207-.339-.207-.549zm4.56549-1.764c.204-.21.453-.393.747-.549.294-.162.561-.243.801-.243l-.171-.567c-.21%200-.453.075-.729.225s-.513.309-.711.477l-.225-.702h-.423v4.365h.711zm5.249%202.214c-.21.108-.399.186-.567.234s-.384.072-.648.072c-.438%200-.777-.159-1.017-.477s-.36-.732-.36-1.242c.006-.486.135-.885.387-1.197.252-.318.594-.477%201.026-.477.252%200%20.456.024.612.072.162.048.363.123.603.225l.216-.504c-.174-.114-.405-.207-.693-.279-.282-.078-.522-.117-.72-.117-.432%200-.81.099-1.134.297-.324.192-.576.462-.756.81-.174.342-.261.735-.261%201.179%200%20.45.084.852.252%201.206.168.348.411.621.729.819.318.192.693.288%201.125.288.198%200%20.441-.039.729-.117.288-.072.522-.165.702-.279zm3.4651-3.708c.462%200%20.804.141%201.026.423.228.276.342.648.342%201.116v2.952h-.711v-2.853c0-.324-.06-.576-.18-.756s-.321-.27-.603-.27c-.216%200-.462.075-.738.225-.27.15-.51.339-.72.567v3.096h-.711v-6.264l.711-.09v2.547c.21-.204.459-.369.747-.495.294-.132.573-.198.837-.198zm6.3851.018c.648%200%201.155.213%201.521.639.372.42.558.978.558%201.674%200%20.444-.087.84-.261%201.188-.168.342-.411.612-.729.81-.312.192-.681.288-1.107.288-.18%200-.372-.039-.576-.117-.198-.072-.384-.177-.558-.315l-.153.315h-.423v-6.264l.711-.09v2.205c.162-.108.333-.189.513-.243.18-.06.348-.09.504-.09zm0%203.996c.432%200%20.765-.156.999-.468s.354-.714.36-1.206c0-.516-.117-.93-.351-1.242-.228-.318-.561-.477-.999-.477-.216%200-.405.033-.567.099s-.315.168-.459.306v2.601c.144.126.297.222.459.288s.348.099.558.099zm3.8187%201.206c-.066.18-.168.315-.306.405-.132.096-.339.21-.621.342l.216.513c.318-.066.597-.195.837-.387.246-.192.42-.423.522-.693l1.926-5.265h-.72l-1.251%203.375-1.323-3.51-.63.27%201.62%204.203z%22%20fill%3D%22%23000%22%2F%3E%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        overflow: hidden;
        text-indent: -9000px;
        padding: 0!important;
        width: 100%;
        height: 100%;
        display: block;
      }
    }}
}
